<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-sm-5 text-center bride-groom-container" data-aos="zoom-in" data-aos-duration="1000">
			<h2 class="bride-groom">{{site.bride}}</h2>
			<p class="subtitle-bride-groom">Putri dari</p>
			<p class="parent">{{site.bride_parent}}</p>
		</div>
		<div class="col-sm-1 d-flex text-center justify-content-center" data-aos="zoom-in" data-aos-duration="1000">
			<div class="my-auto ampersand">
				<span class="mx-auto">&</span>
			</div>
		</div>
		<div class="col-sm-5 text-center bride-groom-container" data-aos="zoom-in" data-aos-duration="1000">
			<h2 class="bride-groom">{{site.groom}}</h2>
			<p class="subtitle-bride-groom">Putra dari</p>
			<p class="parent">{{site.groom_parent}}</p>
		</div>
	</div>
</div>
