<div class="container text-center">
	<h3 class="subtitle" data-aos="zoom-in" data-aos-duration="1000">Protokol Kesehatan</h3>
	<div class="row justify-content-center">
		<div class="col-sm-2" data-aos="zoom-in" data-aos-duration="1000">
			<div class="row justify-content-center protocols">
				<img src="assets/img/mask.png" class="img-fluid img-protocol">
			</div>
			<p class="protocol-title">{{site.protocol1}}</p>
		</div>
		<div class="col-sm-2" data-aos="zoom-in" data-aos-duration="1000">
			<div class="row justify-content-center protocols">
				<img src="assets/img/distance.png" class="img-fluid img-protocol">
			</div>
			<p class="protocol-title">{{site.protocol2}}</p>
		</div>
		<div class="col-sm-2" data-aos="zoom-in" data-aos-duration="1000">
			<div class="row justify-content-center protocols">
				<img src="assets/img/hand-washing.png" class="img-fluid img-protocol">
			</div>
			<p class="protocol-title">{{site.protocol3}}</p>
		</div>
		<div class="col-sm-2" data-aos="zoom-in" data-aos-duration="1000">
			<div class="row justify-content-center protocols">
				<img src="assets/img/temperature.png" class="img-fluid img-protocol">
			</div>
			<p class="protocol-title">{{site.protocol4}}</p>
		</div>
	</div>	
</div>