<div class="container text-center">
	<h3>Protokol Kesehatan</h3>
	<div class="row justify-content-center">
		<div class="col-sm-2">
			<div class="row justify-content-center">
				<img src="assets/img/mask.png" class="img-fluid img-protocol">
			</div>
			{{site.protocol1}}
		</div>
		<div class="col-sm-2">
			<div class="row justify-content-center">
				<img src="assets/img/distance.png" class="img-fluid img-protocol">
			</div>
			{{site.protocol2}}
		</div>
		<div class="col-sm-2">
			<div class="row justify-content-center">
				<img src="assets/img/hand-washing.png" class="img-fluid img-protocol">
			</div>
			{{site.protocol3}}
		</div>
		<div class="col-sm-2">
			<div class="row justify-content-center">
				<img src="assets/img/temperature.png" class="img-fluid img-protocol">
			</div>
			{{site.protocol4}}
		</div>
	</div>	
</div>