<div class="container text-center my-3">
    <div class="row mx-5" data-aos="zoom-in" data-aos-duration="1500">
        <p class="verse-arabic"> {{site.verse_content_arabic}} <br>
    </div>
    <div class="row mx-5" data-aos="zoom-in" data-aos-duration="1500">
        <p class="verse"> <i>{{site.verse_content}}</i></p>
    </div>
    <div class="row mx-5" data-aos="zoom-in" data-aos-duration="1500">
        <p class="blockquote-footer"><b> {{site.verse}}</b></p>
    </div>

    <div class="row border-section border-bottom" data-aos="fade-right" data-aos-duration="2500"></div>
</div>
