.bride-groom-container {
	padding-top:0px;
	padding-bottom: 0px;
	margin: 0px;
	margin-botton: 50px;
}
.bride-groom {
	font-family: "Dancing Script";
	font-size: 36px;
	font-weight: bold;
	color: $main;
	transform:: translateY(-40%);
}

.parent {
	font-size: 16px !important;
	transform:: translateY(-100%);
}

.subtitle-bride-groom {
	font-size: 14px !important;
	padding: 0px;
  margin: 0px;
  transform:: translateY(-100%);
}

.ampersand {
	font-family: "Dancing Script";
	font-size: 36px;
	display: flex;
    align-items: center;
    color: $main;
    text-align: center;
	border-radius: 50%;
		width: 60px;
		height: 60px;
	background-color:$yellow;
}