#event {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.events {
  margin-top: $margin_top_content !important;
}

#ring-svg {
  width: 100px; 
  stroke: $yellow;
  fill: $yellow;
  fill-opacity: 2;
}