.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .site {
    padding: 0px !important;
    margin: 0px !important;
  }
  .tribute {
    color: #808080;
    font-size: 12px;
  }
  .motto {
    color: #808080;
    font-size: 18px;
    font-family: "Dancing Script";
    margin-bottom: 16px !important;
  }
  a {
    text-decoration: underline;
    margin: 0;
    color: #808080 !important;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}
