#rsvp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.margin-form{
  margin-bottom: 10px;
}

.notes{
  font-size:12px;
}

#form_rsvp {
  margin-top: $margin_top_content !important;
}

.btn-dark {
 background-color: $main !important;
}